@import url('https://fonts.googleapis.com/css?family=Gayathri|Source+Sans+Pro&display=swap');

body {
  margin: 0;
}

h3::first-letter {
  text-transform: capitalize;
}

div::first-letter {
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.appStyle {
  background: url('https://images.unsplash.com/photo-1542779283-429940ce8336?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80') no-repeat;
  background-size: cover;
}


.navbar {
  background: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/cad4b52e-f6b1-432f-9035-a5f4853bcf15/d7i3cm4-dc9f4577-6b7d-4d59-8b46-a15bf5e84209.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvY2FkNGI1MmUtZjZiMS00MzJmLTkwMzUtYTVmNDg1M2JjZjE1XC9kN2kzY200LWRjOWY0NTc3LTZiN2QtNGQ1OS04YjQ2LWExNWJmNWU4NDIwOS5naWYifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.dyJK_tsE0i541YXen2Y4-FT6ZwE_NNMf6BTX_CYynfY') no-repeat;
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 25px;
  padding-bottom: 5px;
  font-family: 'Gayathri', sans-serif;
  background-color: rgb(134, 133, 133);
  border-bottom: 5px solid black;
}

.pikachu {
  position: absolute;
  left: 0;
  height: 100px;
}

.logo {
  height: 90px;
  width: 260px;
}
.container {
  display: flex;
  justify-content: space-between;
}

.leftScreen {
  display: flex;
  margin-left: 100px;
}

.name {
  background: url('https://i.pinimg.com/originals/76/cc/71/76cc71fb45866a23a21ba5124743da4e.gif') no-repeat;
  border: 3px solid black;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
  justify-content: space-between;
  margin: 3px;
  padding-left: 60px;
  background-color: rgb(146, 145, 145);
}

.pokeball {
  padding: 5px 25px 0px 0px;
  width: 20px;
  height: 20px;
}

.pokemonNames {
  flex-direction: column;
  padding: 20px;
  overflow-Y: scroll;
  height: 75vh;
  width: 60vh;
  margin: auto;
  margin-bottom: 0;
  cursor: pointer;
}

.name:hover {
  background-color: #7a39af;
}

.onePokemon {
  background: url('http://31.media.tumblr.com/f629d6279ef2e316702c2eec61787cc7/tumblr_mkjc68qWhD1qlh7rxo1_500.gif');
  background-color: rgb(128, 124, 124);
  border: 3px solid black;
  border-radius: 7px;
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
  justify-content: flex-end;
  flex-direction: column;
  padding: 10px;
  margin: 20px 40px 0px 0px;
}

.apiName::first-letter {
  text-transform: uppercase;
}

.sprite-and-name {
  padding-right: 20px;
  text-align: center;
}

.myTeam {
  height: 75vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.teamMember {
  background: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/cad4b52e-f6b1-432f-9035-a5f4853bcf15/d7i3cm4-dc9f4577-6b7d-4d59-8b46-a15bf5e84209.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvY2FkNGI1MmUtZjZiMS00MzJmLTkwMzUtYTVmNDg1M2JjZjE1XC9kN2kzY200LWRjOWY0NTc3LTZiN2QtNGQ1OS04YjQ2LWExNWJmNWU4NDIwOS5naWYifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.dyJK_tsE0i541YXen2Y4-FT6ZwE_NNMf6BTX_CYynfY') no-repeat;
  background-color: rgba(100, 98, 98, 0.993);
  border: 3px solid black;
  border-radius: 7px;
  justify-content: center;
  padding: 30px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: rgb(166, 58, 238);
  border-top: 5px solid black;
  text-align: center;
  background: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/cad4b52e-f6b1-432f-9035-a5f4853bcf15/d7i3cm4-dc9f4577-6b7d-4d59-8b46-a15bf5e84209.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvY2FkNGI1MmUtZjZiMS00MzJmLTkwMzUtYTVmNDg1M2JjZjE1XC9kN2kzY200LWRjOWY0NTc3LTZiN2QtNGQ1OS04YjQ2LWExNWJmNWU4NDIwOS5naWYifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.dyJK_tsE0i541YXen2Y4-FT6ZwE_NNMf6BTX_CYynfY') no-repeat;
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 25px;
  padding-bottom: 5px;
  font-family: 'Gayathri', sans-serif;
  background-color: rgb(134, 133, 133);
  border-bottom: 5px solid black;
}
